@font-face {
    font-family: 'SuisseBpIntlBold';
    src: url('fonts/suisse_bp_intl_bold-webfont.woff2') format('woff2'), url('fonts/suisse_bp_intl_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseBpIntlAntique';
    src: url('fonts/suisse_bp_intl_antique-webfont.woff2') format('woff2'), url('fonts/suisse_bp_intl_antique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseBpIntlLight';
    src: url('fonts/suisse_bp_intl_light-webfont.woff2') format('woff2'), url('fonts/suisse_bp_intl_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseBpIntlMedium';
    src: url('fonts/suisse_bp_intl_medium-webfont.woff2') format('woff2'), url('fonts/suisse_bp_intl_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseBpIntlRegular';
    src: url('fonts/suisse_bp_intl_regular-webfont.woff2') format('woff2'), url('fonts/suisse_bp_intl_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseBpIntlThin';
    src: url('fonts/suisse_bp_intl_thin-webfont.woff2') format('woff2'), url('fonts/suisse_bp_intl_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}