    /* ---> Mobile CSS <----------------------------------------------------------- */
    
    @media(max-width:767px) {
        /* ---> Fonts & Font Sizing <---------------------- */
        h1 {
            font-size: 55px;
            line-height: 20px;
        }
        h2 {
            font-size: 86px;
            line-height: 76px;
        }
        h3 {
            font-size: 22px;
            line-height: 24px;
        }
        h3 .sub-heading {
            font-size: 22px;
        }
        h4 {
            font-size: 64px;
            line-height: 50px;
            text-align: center;
        }
        h5 {
            font-size: 22px;
            text-align: center;
        }
        h6 {
            font-size: 20px;
        }
        p {
            font-size: 20px;
            line-height: 22px;
            text-align: center;
        }
        .details-1,
        .details-2,
        .final-heading,
        .caatch-us-1,
        .caatch-us-2,
        .caatch-us-3 {
            text-align: left;
        }
        /* ---> Container Spacing <------------------------ */
        .container-med {
            padding-bottom: 10px;
        }
        /* ---> Buttons <--------------------------- */
        .btn {
            width: 300px;
        }
        .btn-wide {
            width: 300px;
        }
        /* ---> Header <------------------------------- */
        #header-hero {
            width: 100%;
            height: 100%;
            background-position: 80%;
            background-attachment: scroll;
        }
        .hero-text {
            margin-top: 20%;
        }
        .hero-img {
            width: 250px;
            margin-bottom: 30px;
            margin-left: 0;
        }
        /* ---> caatch us <------------------------------- */
        #caatch-us {
            background-attachment: scroll;
            background-position: 50%;
            background-size: 150%;
        }
        /* ---> caatch this <------------------------------- */
        .caatch-this-bg {
            height: 370px;
            background-size: 125%;
            background-position: center bottom;
        }
        /* ---> caatch us <------------------------------- */
        .who-are-we-1 {
            height: 350px;
            background-position: center;
        }
        /* ---> Newsletter <------------------------------- */
        .news-1 {
            margin-bottom: 20px;
        }
        .news-2 {
            margin-top: 20px;
        }
        /* ---> Footer <------------------------------- */
        .event-details {
            padding-top: 30px;
        }
        .get-tickets {
            padding-top: 30px;
        }
    }